/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/
h1 {
  /** this propery turns the grid around the text blue*/
  background:blue;
  /** this propery turns the text itself yellow*/
  color: yellow;
  /** this propery turns the font style to monospace*/
  font-family:monospace;
}
