/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/


body {
  background-color: lightblue;
}
/* 1 This is for set background color*/

h1 {
  color: navy;
  margin-left: 20px;
}
/* 2  color: navy is for heading color is navy & margin-left: is use for select margin*/


